<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">SCADA</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/add-user']"
              >Add User</a
            >
          </li>
          <li class="nav-item" >
            <button class="nav-link text-dark" [matMenuTriggerFor]="menu"
              >Reports</button
            >
            <mat-menu #menu="matMenu">
              <a mat-menu-item [routerLink]="['/alarm-by-range']">
                <a>Alarms within time range</a>
              </a>
              <a mat-menu-item [routerLink]="['/alarm-by-priority']">
                <a>Alarms by priority</a>
              </a>
              <a mat-menu-item [routerLink]="['/login']">
                <a>Tag values by time range</a>
              </a>
              <a mat-menu-item [routerLink]="['/current-values']">
                <a>Last values of Input tags</a>
              </a>
              <a mat-menu-item [routerLink]="['/tag-records']">
                <a>All values of specific tag</a>
              </a>
            </mat-menu>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']"
            >Login</a
            >
          </li>
          <li class="nav-item">
            <button class="nav-link text-dark" 
            >Alarm</button
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
